/* GENERALS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

/* KEYFRAMES */
@keyframes border-ping {
	0% {
		transform: scale(1);
		border-width: 3px;
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		border-width: 3px;
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

/* HOME */
.home-bg-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0) 0),
		url("https://vakulenko.online/images/tild3736-6662-4466-b932-623832663736__tild6639-3239-4632-b.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.border-ping {
	position: absolute;
	border-color: rgb(12, 72, 176);
	height: 100%;
	width: 100%;
	animation: border-ping 2s infinite;
	pointer-events: none;
}

.relative-container {
	position: relative;
}

/* PORTFOLIO */
/*background-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 1) 40%,
			rgba(0, 0, 0, 0) 120%
		),
		url("https://www.mercedes-benz.pl/content/dam/hq/passengercars/cars/g-class/w465-pi/amg/modeloverview/02-2024/images/mercedes-amg-g-class-w456-model-overview-696x392-02-2024.png");
	background-position: left;
	background-repeat: no-repeat;*/

/* REVIEWS SWIPER */
.swiper-pagination-bullet {
	width: 25px;
	height: 1.8px;
	background-color: rgb(40, 97, 242);
	border-radius: 0.1px;
}

/* SERVICE */
.service-shadow {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bg-custom-gradiant:hover {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(117, 178, 232, 1) 0%,
		rgba(165, 202, 237, 1) 3%,
		rgba(231, 157, 228, 1) 100%,
		rgba(63, 208, 237, 1) 100%,
		rgba(200, 10, 183, 1) 100%
	);
}

/* FOOTER */
.footer-bg-img {
	background-image: url("https://vakulenko.online/images/tild3339-3935-4265-b533-336266363036__photo.png");
	background-position: center;
	background-size: cover;
}
