/* General */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

/* Keyframes */
@keyframes border-ping {
	0% {
		transform: scale(1);
		border-width: 3px;
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		border-width: 3px;
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

/* Home */
.border-ping {
	position: absolute;
	border-color: rgb(12, 72, 176);
	height: 100%;
	width: 100%;
	animation: border-ping 2s infinite;
	pointer-events: none;
}

.relative-container {
	position: relative;
}

.bg-image {
	background-image: url("https://vakulenko.online/images/tild3736-6662-4466-b932-623832663736__tild6639-3239-4632-b.jpeg");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

/* Portfolio */
/*background-image: linear-gradient(
			to left,
			rgba(0, 0, 0, 1) 40%,
			rgba(0, 0, 0, 0) 120%
		),
		url("https://www.mercedes-benz.pl/content/dam/hq/passengercars/cars/g-class/w465-pi/amg/modeloverview/02-2024/images/mercedes-amg-g-class-w456-model-overview-696x392-02-2024.png");
	background-position: left;
	background-repeat: no-repeat;*/
